
body {
    margin:10px 100px;
    
}

img.logo{
    width: 70px;
    height: 40px;
}

.login, .register {
    width: 121px;
}

.row1 {
    /* text-align: center; */
    margin-left: 24%;
}

.navbar-brand.text-center a {
    color: #bcbec0 !important;
}
.fa-500px {
    margin-left: 40%;
}
.search{
    margin-left: 30%;
}
.raw2 p {
    text-align: center;
    font-size: 26px;
    width: max-content;
    margin-left: 31%;
}

.input-lg {
    border: none;
    background-color: #f0f0f0 !important;
}

.container.raw2 {
  height: 604px;
}

figcaption h3{
    text-align: center;
}

.card {
    background-color: #F0F5ED;
    border: none;
    height: 530px;
    margin: 21px 15px;
}

.p-4 {
    padding: 1.5rem !important;
}

/*img.image {
    height:472px !important;
    width: 466px !important;
}*/

media-container-text.col {
    margin-top: 13%;
}

.row.media-container {
    margin-top: 76px;
    margin-left: 25px;
}

.figure-img.col {
    margin-right: 22px;
}

.media-container-text.col {
    margin-right: 175px;
    margin-left: 139px;
}

.row.p-4 {
    width: 137%;
}

.card.p-4.center {
    height: 560px;
}

.figure-text {
    margin-top: 36%;
    font-size: 20px;
}

.input-group {
    width: 784px;
    background-color: #f0f4fa;
    margin-left: 50%;
    margin-top: 128px;
}

    .input-group.center {
        width: 218%;
    }

.fa-5x {
    font-size: 226px;
    margin-top: 65px;
}

figcaption.text {
    text-align: center;
}

img.card-img-top {
    height: 80px;
    width: 80px;
    margin: 10% 36%;
}

.card-body {
    text-align: center;
}

a.btn.btn-dark {
    color: white;
}

a.btn.btn-lg.btn-primary, .android-btn {
    width: 57% !important;
    height: 48px;
    margin-right: 91px;
}

img.image {
    height: 120% !important;
    width: 129% !important;
}

/*Footer*/

figcaption.footer-col5 {
    margin-left: 181px;
    width: 100%;
    margin-top: 55px;
}

img.foo {
    margin-bottom: 40px;
    margin-left: 26px;
    width: 79px;
    height: 49px;
}

.btn-text {
    font-size: 13px;
}

.row.container.row4 {
    height: 547px;
    margin-top: 124px;
    margin-top: 24%;
}

img.img-iphone {
    width: 350px;
    height: 456px;
}

.col.col-store {
    margin-top: 10%;
}

a.btn.btn-lg.btn-primary.col {
    margin-right: 28px;
    margin-left: 106px;
}

a.btn.btn-lg.btn-primary.col {
    margin-right: 28px;
    margin-left: 106px;
}

/*Page2*/
.card.col.card-p2 {
    height: 317px !important;
    padding-top: 55px;
}

img.card-img-top-p2 {
    height: 50px;
    width: 91px;
    margin-left: 38% !important;
}

a.btn.btn-primary {
    color: #ffffff;
}

.row.p-6 {
    margin-left: -22%;
    margin-right: -22%;
    margin-bottom: 0px;
}

footer.footer {
    height: 400px !important;
    padding-top: 76px;
    margin-left: -18%;
    margin-right: -38%;
}

.row.download {
    margin-bottom: 29px;
}

.card.card-pg2 {
    height: 239px !important;
}

.card-img-top-pg2 {
    height: 92px;
    width: 92px;
    margin-left: 35%;
}

/*Queries*/

@media screen and (max-width: 1024px) {

    footer.footer {
        margin-left: 0% !important;
    }

    a.btn.btn-primary.big-btn.android-btn.col {
        margin-right: 30%;
        margin-left: 27%;
        margin-top: 6%;
    }

    a.btn.btn-lg.btn-primary.col {
        margin-right: 30%;
        margin-left: 27%;
    }

    figcaption.footer-col5 {
        margin-left: 25%;
    }

    .col-2 {
        margin-left: -2%;
    }

    .figure-text {
 
        text-align: justify;
        margin-right: -47%;
    }

    img.image {
        height: 109% !important;
        width: 171% !important;
    }
    .containe-img-text {
        margin-left: -7%;
        margin-right: 6%;
    }
    body {
        overflow: -webkit-paged-y !important;
    }
    img.img-iphone {
        margin-top: -19%;
    }
}

@media screen and (max-width: 768px) {
    .card {
       
        margin: 21px 63px;
        width: 60% !important;
    }

    .containe-img-text {
        margin-left: -21%;
        margin-right: 2%;
    }

    .figure-text {
        
        margin-right: -100%;
    }
 
    .col.col-store {
        margin-top: 37%;
        margin-right: -24%;
    }

    .row.row-App {
        margin-right: -30%;
    }
    figcaption.footer-col5 {
       
        width: 128%;
    }
    body {
        margin: 10px;
    }
    .row.p-4 {
        margin-left: -12%;
    }

    .login, .register {
        width: 105px;
        font-size: 10px;
    }
   
}

@media screen and (max-width: 375px) {

    .login, .register {
        width: 45px !important;
        font-size: 8px !important;
    }
    .row1 {
        margin-left: 4%;
    }

    .raw2 p {
        font-size: 13px;
        margin-left: 26%;
    }

    .fa-5x {
        font-size: 4em !important;
    }

    .input-group.center {
        width: 87%;
        margin-left: 7%;
    }

    img.image {
        width: 210% !important;
        margin-left: 39%;
        height: 179px !important;
    }

    .media-container-text.col {
        margin-left: 84px;
    }

   
    .col.col-store {
        margin-top: 39%;
        margin-right: -62%;
        margin-left: -97%;
    }

    img.img-iphone {
        width: 47%;
        margin-left: 28%;
        height: 27%;
    }

    .row.row-App {
        margin-right: -11%;
    }

    figcaption h3 {
        font-size: 0.75rem;
    }

    figcaption p {
        font-size: 8px;
    }

    .footer-bottom p {
        font-size: 11px;
        margin-left: 3%;
    }

    figcaption.footer-col5 {
        margin-left: -8%;
    }

    img.foo {
        margin-bottom: 22px;
        margin-left: 6px;
        width: 48px;
        height: 37px;
    }

    .figure-text {
        margin-right: -100%;
        font-size: 10px;
    }
    
    .figure-text h3 {
        font-size: 0.75rem;
    }

    .media-container-text.col {
        margin-left: 73px;
        margin-right: 21%;
    }

    .row.media-container.center {
        margin-right: 13%;
        margin-left: -4%;
    }

    img#image1 {
        height: 100% !important;
    }
}

@media screen and (max-width: 414px) {
    .fa-5x {
        font-size: 100px;
        margin-top: 65px;
    }

    .raw2 p {
        font-size: 12px;
    }

    .input-group.center {
        width: 84%;
        margin-left: 9%;
    }

    figcaption h3 {
        font-size: 0.75rem;
    }

    figcaption p {
        font-size: 8px;
    }

    .media-container-text.col {
        margin-left: 84px;
    }

    .col.col-store {
        margin-top: 39%;
        margin-right: -62%;
        margin-left: -97%;
    }

    img.img-iphone {
        width: 47%;
        margin-left: 28%;
        height: 27%;
    }

    .row.row-App {
        margin-right: -11%;
    }

    .footer-bottom p {
        font-size: 11px;
        margin-left: 3%;
    }

    figcaption.footer-col5 {
        margin-left: -8%;
    }

    img.foo {
        margin-bottom: 22px;
        margin-left: 6px;
        width: 48px;
        height: 37px;
    }

    .row.row-App {
        margin-right: 6%;
    }
    .media-container-text.col {
        margin-left: 73px;
        margin-right: 21%;
    }

    .row.media-container.center {
        margin-right: 9%;
        margin-left: 0%;
    }
    .figure-text {
        margin-right: -100%;
        font-size: 10px;
    }

        .figure-text h3 {
            font-size: 0.75rem;
        }

    .row.media-container {
        margin-top: 76px;
        margin-left: 72px;
    }

    img#image1 {
        height: 81% !important;
        margin-bottom: -100%;
    }

    img.image.image-center {
        margin-top: -14%;
    }
    .row.row-App {
        margin-right: -27%;
    }

    img.image {
        width: 223% !important;
        margin-left: 3%;
        height: 103% !important;
    }

    /*img.image.image-center {
        margin-top: 68%;
        height: 75% !important;
        width: 326% !important;
    }*/
    .login, .register {
        width: 51px !important;
        font-size: 8px !important;
    }
    .row.row-App {
        margin-right: -27%;
    }
}


/*@media screen and (max-width: 414px) {
    .row.row-App {
        margin-right: -27%;
    }

    img.image {
        width: 223% !important;
        margin-left: 3%;
        height: 103% !important;
    }

    img.image.image-center {
        margin-top: 68%;
        height: 75% !important;
        width: 326% !important;
    }
   
}*/
@media screen and (max-width: 411px) {
    .row.row-App {
        margin-right: 0%;
        margin-left: 0%;
    }
}
    @media screen and (max-width: 472px) {
        .fa-5x {
            font-size: 82px;
            margin-top: 65px;
        }

        .raw2 p {
            font-size: 12px;
        }

        .input-group.center {
            width: 84%;
            margin-left: 9%;
        }

        figcaption h3 {
            font-size: 0.75rem;
        }

        figcaption p {
            font-size: 8px;
        }

        .media-container-text.col {
            margin-left: 84px;
        }

        .col.col-store {
            margin-top: 39%;
            margin-right: -62%;
            margin-left: -97%;
        }

        img.img-iphone {
            width: 29%;
            margin-left: 35%;
            height: 25%;
            margin-top: 0%;
        }

        .row.row-App {
            margin-right: -11%;
        }

        .media-container-text.col {
            margin-left: 73px;
            margin-right: 21%;
        }

        .row.media-container.center {
            margin-right: 9%;
            margin-left: 0%;
        }

        .figure-text {
            margin-right: -100%;
            font-size: 10px;
        }

            .figure-text h3 {
                font-size: 0.75rem;
            }

        .row.media-container {
            margin-top: 76px;
            margin-left: 72px;
        }

        .row.row-App {
            margin-right: 6%;
            margin-left: 10%;
        }

        .footer-bottom p {
            font-size: 11px;
            margin-left: 3%;
        }

        figcaption.footer-col5 {
            margin-left: -8%;
        }

        img.foo {
            margin-bottom: 22px;
            margin-left: 6px;
            width: 48px;
            height: 37px;
        }

        .login, .register {
            width: 58px;
            font-size: 10px;
        }
    }

