<!DOCTYPE html>

<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
    <title>Index Etickets</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Style/Style.css" rel="stylesheet" />
</head>
<body id="top">

    <header>
        <div class="wrapper row0">
            <div class="topbar row">
                <div class="col-4">
                    <i class="fa fa-facebook-official fa-2x"></i>
                    <i class="fa fa-twitter-square fa-2x"></i>
                    <i class="fa fa-google-plus-square fa-2x"></i>
                </div>

                <div class="col-4">
                    <img src="~/Images/image.png" class="logo" style="max-width:100%;"/>
                    @*<img class="logo" src="" alt="" />*@
                </div>

                <div class="col-4">
                    <button value="Register" class="btn btn-danger login">Register</button>
                    <button value="Login" class="btn btn-primary register">Login</button>
                </div>

            </div>
        </div>
        <hr />
        <div class="row1">
            <nav class="nav navbar-brand text-center">
                <a href="#">Home</a>
                <a href="#">Presentation</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </nav>
        </div>

        <hr />

        <div class="container raw2">

            <i class="fa fa-500px fa-5x"></i>
            <br />
            <p>
                Qu'est-ce que le Lorem Ipsum?
            </p>
           
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group center">

                        <span class="input-group-append">
                            <div class="input-group-text"><i class="fa fa-search"></i></div>
                        </span>
                        <input class="form-control py-2 border-left-0 border" type="search" id="example-search-input">
                    </div>
                </div>
            </div>
            <br />
           

        </div>
    </header>
    <hr />

    <section>
        <figcaption class="text">
            <h3>Lorem Ipsum</h3>
            <p> "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet..."</p>
            <p> "Il n’y a personne qui n’aime la souffrance pour elle-même…"</p>
        </figcaption>

        <div class="row p-4">
            <div class="card p-3 " style="width:24%">
                <img src="~/Images/image.png" class="card-img-top rounded-circle" alt="Card image cap" />

                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <br />
                    <br />
                    <p class="fa fa-3x">XX</p>

                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <a class="btn btn-dark">Lorem Ipsum</a>
                </div>
            </div>


            <div class="card p-4 center" style="width:25%">
                <img src="~/Images/image.png" class="card-img-top rounded-circle" alt="Card image cap" />
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <br />
                    <br />
                    <p class="fa fa-3x">XX</p>

                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <a class="btn btn-primary">Lorem Ipsum</a>
                </div>
            </div>


            <div class="card p-4" style="width:24%">
                <img src="~/Images/image.png" class="card-img-top rounded-circle" alt="Card image cap" />
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <br />
                    <br />
                    <p class="fa fa-3x">XX</p>

                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <a class="btn btn-dark">Lorem Ipsum</a>
                </div>
            </div>

        </div>

        <div class="row p-4">
            <div class="card p-3" style="width:24%">
                <img src="~/Images/image.png" class="card-img-top rounded-circle" alt="Card image cap" />
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <br />
                    <br />
                    <p class="fa fa-3x">XX</p>

                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <a class="btn btn-dark">Lorem Ipsum</a>
                </div>
            </div>


            <div class="card p-4 center" style="width:25%">
                <img src="~/Images/image.png" class="card-img-top rounded-circle" alt="Card image cap" />
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <br />
                    <br />
                    <p class="fa fa-3x">XX</p>

                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <a class="btn btn-primary">Lorem Ipsum</a>
                </div>
            </div>


            <div class="card p-4" style="width:24%">
                <img src="~/Images/image.png" class="card-img-top rounded-circle" alt="Card image cap" />
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <br />
                    <br />
                    <p class="fa fa-3x">XX</p>

                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <a class="btn btn-dark">Lorem Ipsum</a>
                </div>
            </div>

        </div>

        <div class="containe-img-text">
            <div class="row media-container">
                <div class="figure-img col" style="width: 20%; background-color: ActiveBorder;">

                    <img src="~/Images/image.png" class="image" />
                    @*<img src="~/Images/img.jpeg" class="image" />*@
                </div>
                <div class="media-container-text col">
                    <div class="figure-text">
                        <h3>Qu'est-ce que le Lorem Ipsum?</h3>
                        <p>
                            Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page
                            avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500...

                        </p>
                    </div>
                </div>
            </div>

            <div class="row media-container center">

                <div class="media-container-text col">
                    <div class="figure-text">
                        <h3>Qu'est-ce que le Lorem Ipsum?</h3>
                        <p>
                            Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page
                            avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500...

                        </p>
                    </div>
                </div>

                <div class="figure-img col" style="width: 20%; background-color: ActiveBorder;">
                    <img src="~/Images/image.png" class="image" id="image-center" />
                </div>

            </div>

            <div class="row media-container">
                <div class="figure-img col" style="width:20%; background-color: ActiveBorder;">
                    <img src="~/Images/image.png" class="image" id="image1"/>
                </div>
                <div class="media-container-text col">
                    <div class="figure-text">
                        <h3>Qu'est-ce que le Lorem Ipsum?</h3>
                        <p>
                            Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page
                            avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500...

                        </p>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <div class="row container row4">
            <div class="col">
                <img src="~/Images/Iphone.PNG" class="img-iphone" />
            </div>

            <div class="col col-store">
                <figcaption class="text">
                    <h3>Lorem Ipsum</h3>
                    <p> "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet..."</p>
                    <p> "Il n’y a personne qui n’aime la souffrance pour elle-même…"</p>
                </figcaption>


                <div class="row row-App">
                    <!-- apple store button -->
                    <a class="btn btn-lg btn-primary col" href="#">
                        <i class="fa fa-apple pull-left fa-2x"></i><div class="btn-text"><small>Available on the</small><br><strong>App Store</strong></div>
                    </a>
                    <!-- android button -->
                    <a class="btn btn-primary big-btn android-btn col" href="#">
                        <img width="40" class="pull-left" src="http://www.userlogos.org/files/logos/jumpordie/google_play_04.png"><div class="btn-text"><small>Available on</small><br><strong>Google Play</strong></div>
                    </a>
                </div>

            </div>
        </div>
        <hr />
    </section>

   
    <footer class="footer">
        <div class="row download">
            <div class="col-2">
                <figcaption class="text">
                    <h3>Lorem Ipsum</h3>
                    <p> "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet..."</p>
                    <p> "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet..."</p>
                    <p> "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet..."</p>

                </figcaption>
            </div>

            <div class="col-2">
                <figcaption class="text">
                    <h3>Lorem Ipsum</h3>
                    <p> "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet..."</p>
                    <p> "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet..."</p>
                    <p> "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet..."</p>
                </figcaption>
            </div>

            <div class="col-2">
                <figcaption class="text">
                    <h3>Lorem Ipsum</h3>
                    <p> "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet..."</p>
                    <p> "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet..."</p>
                    <p> "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet..."</p>
                </figcaption>
            </div>

            <div class="col-2">
                <figcaption class="text">
                    <h3>Lorem Ipsum</h3>
                    <p> "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet..."</p>
                    <p> "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet..."</p>
                    <p> "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet..."</p>
                </figcaption>
            </div>

            <div class="col-2">
                <figcaption class="footer-col5">
                    <img src="~/Images/image.png" class="foo" />
                    <p>
                        <i class="fa fa-facebook-official fa-3x"></i>
                        <i class="fa fa-twitter-square fa-3x"></i>
                        <i class="fa fa-google-plus-square fa-3x"></i>
                    </p>
                </figcaption>
            </div>


        </div>
        <br />

        <div class="row footer-bottom">
            <p>© Copyright 2018 - All Rights Reserved</p>
            @*<p>Neque porro quisquam<p />*@
        </div>
    </footer>


</body>
</html>